<!DOCTYPE html>
<html>
<head>
    <link  href='/stylesheets/style.css' rel='stylesheet'/>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <script src="/javascripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
          selector: "textarea",    
          plugins: ["image","preview"],
        });
    </script>

    <title><%= title %></title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1><%= title %></h1>
        </div>
        <form method="post">
            <textarea></textarea>
        </form>

        <input type="button" class="btn btn-default navbar-btn" id="submitNews" value="Add News Item"/>
    </div>

    <script src="/javascripts/jquery.min.js" / ></script>
    <script>

    /* use jQuery to access the input and post it to redisDB */
    $(function() {
        console.log( "ready!" );

        /* handle user submission of text */
        $( "#submitNews" ).click(function(){

            var postURL = "/news/",
                content = tinyMCE.activeEditor.getContent() || undefined;

            if (content != undefined){
                console.log(content);
                var jqxhr = $.post( postURL, 
                        {content: content },function() {alert( "success" );
                                window.location = ('/');});
            } // if

        }); //click
    }); // document.ready()
    </script>
</body>
</html>


