<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	
	<!-- TinyMCE and jQuery locally //-->
	<script src="/javascript/jquery.min.js" />
	<script src="/javascript/tinymce.min.js">
	<script type="text/javascript">
		tinymce.init({
		selector: "textarea",    
		plugins: ["image","preview"],
	});
	</script>
	
	<title><%= title %></title>
	</head>
	<body>
		<h1><%= title %></h1>
		<p>News Entry</p>
		<form method="post">
			<textarea></textarea>
		</form>

		<input type="button" id="submitNews" value="Add News Item"/>






<script>
/* jQuery access to the actual content */

// Shorthand for $( document ).ready()
$(function() {
	console.log( "ready!" );

	/* handle user submission of text */
	$( "#submitNews" ).click(function(){

		var postURL = "/devel/news";

		content = tinyMCE.activeEditor.getContent() || undefined
		if (content != undefined){
			console.log(content);

			$.ajax({
				type: "POST",
				url: postURL,
				data: {"content" :content},
				success: function(){console.log('posted')},
				dataType: JSON
			}); //ajax
		} // if
	}); //click
}); // document.ready()

</script>
	</body>
</html>


